meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui")
meta(http-equiv="X-UA-Compatible",content="IE=edge")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name="format-detection", content="telephone=no, email=no")
block link


block title
    title default title
block description
    meta(name="description",content="")