extends ../layout
block title
    title this is index page
block description
    meta(name="description",content="index description")

block link
    link(rel="stylesheet" href="/css/style.css")

block content
    div this is index page content